%link{href: "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/spacelab/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-PpvUDg6Tgcp6nh5chOo8teebMjoOXeU/PVfbPIRL4dymXdX1LuGS8ZpBUUqjDZ0d", crossorigin: "anonymous"}


- @recipe.each do |recipe|
  %h2= link_to recipe.title, recipe
