
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('recipe_icon.png') %>">
    </a>
    <h2>Welcome to Recipe-Box</h2>
    <a type="button" class="btn btn-lg btn-primary" href="/recipes"><span class="glyphicon glyphicon-flash"></span> All Recipes</a>
    <a type="button" class="btn btn-lg btn-success" href="/recipes/new"><span class="glyphicon glyphicon-fire"></span> Create Recipe</a>
  </div>
</div>
<!-- <div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby" class="alert-link">Getting Started with Ruby on Heroku</a> tutorial.
  </div>
  <hr> -->
  <div class="row">
    <div class="col-sm-offset-2 col-sm-3">
      <h3><span class="glyphicon glyphicon-open-file"></span> Share Recipes</h3>
      <ul>
        <li>User-authentication required</li>
        <li>Write and Read Recipes</li>
        <li>Edit Recipes and Delete recipes only when logged-in</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3><span class="glyphicon glyphicon-picture"></span> Share images</h3>
      <ul>
        <li>Upload and Edit images anytime!</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3><span class="glyphicon glyphicon-user"></span> Share Comments</h3>
      <ul>
        <li>Read comments</li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Edit and Delete Comments</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
