
<div class="jumbotron text-center">
  <div class="container">
    <a href="/recipes" class="lang-logo">
      <img src="<%= asset_path('recipe_icon.png') %>">
    </a>
    <h1>Welcome to Recipe-Box</h1>
    <!-- <a type="button" class="btn btn-lg btn-primary" href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> LOG-IN</a>
    <a type="button" class="btn btn-lg btn-info" href="/users/sign_up"><span class="glyphicon glyphicon-lock"></span> SIGN-UP</a> -->
  </div>
</div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-3">
      <h3><span class="glyphicon glyphicon-user"></span> User Authentication</h3>
      <ul>
        <li>User-authentication required</li>
        <li>Edit and Delete recipes</li>
        <li>No log-in required to view recipes</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3><span class="glyphicon glyphicon-open-file"></span> Share Recipes</h3>
      <ul>
        <li>Share your favorite recipes!</li>
        <li>Upload recipe image</li>
        <li>Add Ingredients</li>
        <li>Add Directions</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3><span class="glyphicon glyphicon-picture"></span> Share Images</h3>
      <ul>
        <li>Add your best recipe image!</li>
        <li>Update image anytime</li>
      </ul>
    </div>
  </div>
</div>
