$brand-primary: #532F8C;
$brand-language: #B01302;

.jumbotron {
  background-color: firebrick;
  color: white;
  padding-top: 140px;
  padding-bottom: 200px;
  margin-bottom: 60px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }
  h1{
    color: lighten($brand-primary, 60%);
    font-family: cursive;
    font-weight: bolder;
    padding-bottom: 30px;
  }
  h4{
    color: lighten($brand-primary, 60%);
    font-family: cursive;
  }
  p {
    color: lighten($brand-primary, 60%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .lang-logo {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    img {
      max-width: 100%;
    }
  }
}
.main_content{
  text-align: center;
}
.recipe_image{
  border-radius: 50%;
}
.recipe{
  text-align: center;
}
.image_wrapper{
  padding: 5px;
}
