$brand-primary: #532F8C;
$brand-language: #B01302;

.jumbotron {
  background-color: firebrick;
  // background-image: url('../images/background.jpg');
  color: white;
  // padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }
  h2{
    color: inherit;
  }
  h4{
    color: lighten($brand-primary, 60%);
    font-family: cursive;
  }

  p {
    color: lighten($brand-primary, 60%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    // background: $brand-language;
    // border-radius: 50%;
    // border: 2px solid white;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    img {
      max-width: 100%;
    }
  }
}
.main_content{
  text-align: center;
}
.recipe_image{
  border-radius: 50%;
}
.recipe{
  text-align: center;
}
.image_wrapper{
  padding: 5px;
}
